<div class="coffeebox col-12">
  <h1>Coffee from around the world</h1>
</div>



  <% @coffees.each do |coffee| %>
    <div class="bland-box col-8 offset-2">
      
      <h1><%= coffee.name %></h1>
      <i><%= coffee.country %></i><br /><br />
      <p><%= coffee.description %></p><br />
    </div>

  <% end %>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Tell us about your favourite</h4>
      </div>
      <%= simple_form_for @coffee, url: coffees_path do |f| %>
        <div class="modal-body">
      
          <%= f.input :name %>
          <%= f.input :country %>
          <%= f.input :description %>
          <br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Submit', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <div class="pagination col-10 offset-1">
    <%= will_paginate @coffees %>
  </div>










