
  <h1>Add Your Favourite</h1>
  <%= simple_form_for @coffee, url: coffees_path do |f| %>
    <%= f.input :name %>
    <%= f.input :country %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>


 
