<div class="coffeebox col-12">
  <h1>Coffees from around the world</h1>
</div>

<div class="newbox">
  <h1>Share Your Favourite</h1>
  <br />
  <%= simple_form_for @coffee, url: coffees_path do |f| %>
    <%= f.input :name %>
    <%= f.input :country %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>


 
